
@charset "UTF-8";
@import url(typo.css);
@import url(hp.css);


/* 리셋 */
*{box-sizing: border-box;} 
body,h1,h2,h3,p,ul{margin: 0; padding: 0;}
body{background-color: #fff;
    font-size: 16px;
    color: #666666; }

ul li{padding: 0; list-style:none;}
a{text-decoration: none; cursor: pointer;}


/* 공통 */
body{background-color: #F2F2F2;;}


/* 해더 */
.wrap{background-color:#FFC20D;}

 

/* 제품비주얼 (케로셀) */
section.sec0{
    height: 600px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #84C440;}

    
.visual{
    position: relative;
    width: 1170px;
    height: 320px;
   }
        
/* 인디케이터 버튼*/
.control { 
    position: absolute;
    width: 100%;
    text-align: center;       
    }

.control a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f6f5f5;                       
    line-height: 26px;
    font-size: 14px;
    border-radius: 14px;
    margin: 0 4px
    }

button{ 
    border: 0;
    background-color: transparent;
    color:#FFF;
    font-size: 25px;
    cursor: pointer; }


.prev{position: absolute; top:150px; left: 40px;}    
.next{position: absolute; top:150px; right: 40px;}    

.prev:hover,
.next:hover{
    color:#FFC20D;
    transition: 0.2s ease; }


.visual h1{
    position:absolute; 
    top: 150px;
    left: 100px; 
    color:#FFF;}

.visual p{
    position:absolute;
    top: 138px;
    right: 95px;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    text-align:center;}


/* 케로셀이미지 */
.carousel-wrapper{
    position:relative; 
    left: 330px;
    width: 500px;
    height: 300px;
    outline: 2px solid red;}

.Carousel{display: flex;}

.Carousel img {
    flex: 0 0 auto;
    width:500px; 
    height:300px;
    outline: 1px solid green;}



/* 상단 탭메뉴 */
.tab-menu{
    width: 1170px; height: 140px; 
    margin: -40px auto;
    margin-bottom: 30px;
    background-color: #F2F2F2;}


.tab-menu ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 80px;
    background: url(../images/sub2/bg_tabbox.png);}

.tab-menu ul li{ margin: 0 23px;}
.tab-menu ul li {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #888888;}

.tab-menu li:hover {color: #FFC20D; transition:all 0.6s;}


/* 탭메뉴 가리기 */
.sec input{display: none;}
.sec2 input:checked + div{display: block; }
.sec2 > div{display: none;}



/* 제품이미지 정렬(.sec2) */
.sec2{
    display: flex; 
    direction: row;
    justify-content: center;
    background-color: #F2F2F2;}


/* 목록이미지 W/H */
.SAND{width: 1170px; height: 1900px;}
.RAP{width: 1170px; margin-bottom: 50px;}
.SALAD{width: 1170px; margin-bottom: 50px;}
.MORNING{width: 1170px;  margin-bottom: 50px;}
.SMILE {width: 1170px; margin-bottom: 50px;}
.GROUP {width: 1170px; margin-bottom: 50px;}

/* 제품이미지 정렬 */
.ITEM ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: normal;}

 /* li크기 */
.ITEM ul li{
    width: 370px;
    height: 330px; 
    margin-bottom:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;}

/* 제품목록글씨 */
.ITEM_LIST span:nth-of-type(1){
    color:black; 
    font-size: 20px;
    font-weight: 800;}
    
.ITEM_LIST span:nth-of-type(3){
    color:#FFC20D; 
    font-size: 18px;
    font-weight: 600;}

/* 상품이미지 hover */
.pd-img{perspective: 1000px;}
.pd-img img{
    width: 270px; 
    height: 189px;
    transition:all 2.8s;} 
.pd-img:hover img{transform: scale(1.4);}



