@charset "UTP-8";
@import url(main.css);

/* 초기화 */
*{box-sizing: border-box;  }

html{scroll-behavior: smooth;/* 인터넷 ie는 지원을 안함 */
     font-size: 15px;}

body,h1,h2,h3,ul,ol,p{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none; 
}


button{
    border: none;
}

iframe{border: none; width: 100%; height: 100%;}