@charset "UTP-8";


*{box-sizing: border-box;} 
body,h1,h2,h3,p,ul{margin: 0; }
body{background-color: #fff;}

ul{padding: 0; list-style: none;}

img{width: 100%; vertical-align: top; object-fit: cover;}

/* input 리셋 */
input{border: none; padding: 0;}


a{text-decoration: none;}

button{border: none;}


iframe{
    border: 0;
    width: 100%;
    height: 100%;
}