@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{box-sizing: border-box;}
body,ul,li,p,h1,h2,h3,h4,h5{margin: 0;}
html{font-size: 10px;}
body{font: 1.5rem/2 'Noto Sans KR', sans-serif;}
ul{padding: 0; list-style: none;}
img{width: 100%; vertical-align: top;}
a{text-decoration: none;}
button{border: none; background: transparent;}
iframe{border: none; width: 100%; height: 100%;}