
@charset "UTF-8";


/* 리셋 */
*{box-sizing: border-box;} 
body,h1,h2,h3,p,ul{margin: 0; padding: 0;}
body{background-color: #fff;
    font-size: 16px;
    color: #666666;
    }
ul li{padding: 0; list-style:none;}
a{text-decoration: none; cursor: pointer;}


/* 공통 */
.sec{width: 100%;}


/* 해더 */

.wrap{background-color: beige;}

 



/* 제품비주얼 (케로셀) */
section.sec0{
    height: 600px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #84C440;}

.visual{
    width: 1170px;
    height: 320px;
    margin-top: 85px;}

button{ 
    border: 0;
    background-color: transparent;
    color:#FFF;
    font-size: 25px;
    cursor: pointer; }

.but1{position: absolute; top:320px; left: 400px;}    
.but2{position: absolute; top:320px; right: 400px;}    

.visual h1{
    position:absolute; 
    top: 330px;
    left: 460px; 
    color:#FFF;}

.visual p{
    position:absolute;
    top: 310px;
    left: 1100px;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    text-align:center;}

.slide{display: flex; flex-direction: row; justify-content:center;}
.slide img{height:320px; }




/* 상단 탭메뉴(sec1) */
.sec1{
    width: 1170px; height: 140px; 
    margin: -40px auto;
    background: url(../images/sub2/bg_tabbox.png);}

.tab ul{ 
    display: flex;
    flex-direction: row;
    justify-content: center;}

.tab ul li{ margin: 0 20px;}
.tab ul li a{font-size: 20px; color: black;}







/* 제품이미지 목록 (sec2) */
.ITEM{
    width: 1170px; height: 2000px;
    display: flex; 
    margin: 0 auto;
    outline: 2px solid blue;
}

/* 정렬 */
.ITEM ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: normal;
 }

 /* li크기 */
.ITEM ul li{width: 370px; height: 330px; 
            outline: 2px solid blue;}


/* 상품이미지 크기 */
.pd-img img{width: 270px; height: 189px;} 








/* 푸터 */
footer {
    width: 100%;
    height: 300px;
}
.bn a {
    color: #000;
}
.bcon {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.bcon>li {
    width: 320px;
    text-align: center;
    line-height: 20px;
}


.bmn {
    display: inline-block;
    height: 40px;
    line-height: 50px;
    font-size: 2rem;
}

.bsn li {
    margin: 3px;
}

.copy {
    width: 100%;
    height: 100px;
    text-align: center;
}

.copy span {
    display: block;
    padding: 10px;
}
/* //푸터 */