@charset "UTF-8";



/* reset */
*{box-sizing: border-box; }

h1,h2,p,ul{margin: 0;}
ul{padding: 0;}


/*공통요소 common*/
#wrap{width: 1200px; margin: 0 auto; }

/* 헤더 */
header{height: 100px; padding: 30px 0;}



/* logo */
.logo{float: left;}

/* gnb */
#gnb{float: right; margin-top: 10px;}

/* 1depth */
#gnb .main li{display: inline-block; width: 150px; }


/* 2depth */
#gnb .sub{display: none;}



/* 슬라이드 */
#slide{height: 300px; }
#slide li{position: absolute;}


/* 모달 */
#modal{display: none; }

/* 콘텐츠 */
#contents{height: 200px; padding: 5px 0px;}

/* 탭: 공지사항 및 갤러리*/
#contents>div{float: left; width: 380px; }

#tabs label{color: #ffffff;}


        /* 탭 */
        #contents #tabs{width: 424px;}
        input{display: none; }
        #tabs input:checked + div {display: block;}


        /* 내용 공통 */
        #tabs div {
            display: none;
            position: absolute;
            width: 424px;
            height: 160px; }


 label{display: inline-block; padding: 8px 16px; background-color: #072740; }  
 
 
        /* 공지사항 */
        #tab1 li {
            border-bottom: 1px solid #ccc;
            padding-bottom: 8px;
            margin: 4px 0;}

        #tab1 span {display: inline-block; width: 334px;}

        /* 갤러리 */
        #tabs #tab2 {
            background-color: lightcoral;
            padding: 24px 16px;}
       


/* 배너 */
.banner {margin-left:8px;}
/* 바로가기 */
#contents .shortcut{float:right;}


/* 푸터  */
footer{height: 100px; background-color: #313131; padding: 30px;}

footer div{float: left; }


/* 하단로고 */
footer .blogo{width: 200px;}
/* 저작권 및 주소 */
footer .copy{width: 640px; color: #ffffff;}
/* sns */
footer .sns{width: 300px; }
.sns ul li{float: left; margin: 0 16px;}
